@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/Lalezar-Regular.ttf);
}
@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/Vazirmatn-VariableFont_wght.ttf);
}
.showbar {
  top: 0px;
  transition: all ease 0.5s;
}
.hiddenbar {
  top: -400px;
  transition: all ease 0.5s;
}
.bg-dark{
  background-color: #1b1b1f;
}