@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/Lalezar-Regular.ttf);
}
@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/Vazirmatn-VariableFont_wght.ttf);
}
